@use 'sass:math';
@use 'variables';




// Definimos una lista de tamaños en rem
// Cada valor representa el tamaño en rem que tendrá la fuente
$sizes: (5, 7, 10, 12, 15, 20, 25, 30, 40, 50); // Representan 0.5, 0.7, 1.0, etc.

// Usamos @each para recorrer la lista y generar clases dinámicamente
@each $size in $sizes {

  // Creamos una clase con el formato .f-size-{valor} 
  // donde {valor} es el número de rem sin puntos decimales
  .f-size-#{$size} {
    font-size: #{math.div($size, 10)}rem;
  }
}

/// Mixin para generar clases utilitarias a partir del mapa de colores
@mixin generate-utility-classes($colors) {

  @each $name,
  $color in $colors {
    .bg-#{$name} {
      background-color: #{$color} !important;
    }

    .text-#{$name} {
      color: #{$color} !important;
    }
  }
}

/*
* @Buttons Sizes         
**/
@mixin size-btn($py, $px, $fsize, $lh, $radius: null) {
  padding: $py $px !important;
  font-size: $fsize !important;
  line-height: $lh !important;

  @if $radius {
    border-radius: $radius !important;
  }
}

/*
* @Callout         
**/

@mixin callout-variant($border, $background, $text) {
  border-left-color: $border;
  background-color: $background;
  color: $text;

  h4 {
    color: $text;
  }
}