@use '../abstracts'as *;
@use 'sass:color';

/*
* @Cards        
**/
.card {
  box-shadow: none;
  transition: background 0.25s ease;
  border: none;
  box-shadow: 0px 0 15px 3px rgb(1 41 112 / 6%);
  border-radius: $card-radius-xl;
  overflow: hidden;
  position: relative;
  z-index: 5;

  .card-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 20;

    .dropdown {
      .dropdown-toggle {
        border: none;
        padding: 0;
        background-color: transparent;

        &::after {
          content: none;
        }

        i {
          font-size: 1.6rem;
          color: $dark;
        }

        &.show {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }

  &.tale-bg {
    background-color: #282f3a;
  }

  &.transparent {
    background: transparent;
  }

  .card-body {
    padding: 1.25rem;
    background-color: transparent;
    text-align: initial;

    a {
      text-decoration: none;
    }

    +.card-body {
      padding-top: 1rem;
    }

    .dropdown {
      &.dropdown-icon {

        .dropdown-toggle {
          &::after {
            content: none;
          }

          i {
            font-size: 1.5rem;
            color: $primary;
          }
        }
      }
    }

    .card-title {
      color: $dark;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
      font-size: 1.125rem;
      font-weight: 600;
    }

    .card-subtitle {
      color: $dark;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1.063rem;
    }

    .card-description {
      margin-bottom: 0.875rem;
      font-weight: 400;
      color: $dark;
    }
  }

  &.card-weather {
    .weather-daily {
      .weather-day {
        opacity: 0.5;
        font-weight: 900;
      }

      i {
        font-size: 20px;
      }

      .weather-temp {
        margin-top: 0.5rem;
        margin-bottom: 0;
        opacity: 0.5;
        font-size: 0.75rem;
      }
    }
  }
}

@each $type,
$color in $card-color-map {
  $base-color: if(type-of($color)=='color', $color, #ffffff);
  $darker-color: color.adjust($base-color, $lightness: -15%); //darken($color, 15%);
  $lighter-color: color.adjust($base-color, $lightness: 15%); //lighten($color, 20%);

  .card {
    transition: background 0.25s ease;
    border: none;
    box-shadow: 0px 0 15px 3px rgb(1 41 112 / 6%);

    &.card-#{$type} {
      background-color: $color;
      color: $white;

      &:hover,
      &:focus {
        background: color.adjust($base-color, $lightness: 5%); //lighten($color, 5%);
      }

      .card-body {
        .card-title {
          font-size: 2rem;
          color: $white;
          margin-bottom: 1rem;
        }

        p {
          color: $white;
        }

        i {
          font-size: 4rem;
          color: $lighter-color;
        }
      }

      .card-menu {
        .dropdown {
          .dropdown-toggle {
            &::after {
              content: none;
            }

            i {
              font-size: 1.6rem;
              color: $white;
            }

            &.show {
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
      }

      // 🌗 DARK MODE
      body.dark-mode & {
        background-color: color.adjust($base-color, $lightness: -10%); //darken($color, 10%);
        color: $white;

        .card-body {

          .card-title,
          p {
            color: $white;
          }

          i {
            color: color.adjust($base-color, $lightness: 15%); // lighten($color, 15%);
          }
        }

        .card-menu .dropdown .dropdown-toggle i {
          color: $white;
        }
      }
    }

    &.card-outline-#{$type} {
      border: 1px solid $color;

      .card-menu {
        .dropdown {
          .dropdown-toggle {
            &::after {
              content: none;
            }

            i {
              font-size: 1.6rem;
              color: $color;
            }

            &.show {
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
      }

      // 🌗 DARK MODE outline
      body.dark-mode & {
        background-color: transparent;
        border-color: color.adjust($base-color, $lightness: 15%);

        .card-menu {
          .dropdown {
            .dropdown-toggle {
              i {
                color: color.adjust($base-color , $lightness: 15%); //lighten($color, 15%);
              }
            }
          }
        }
      }
    }
  }
}