/*
 * @Help para maquetar
 * Aplicación: aplicar al elemento HTML como un ID o Class
 **/
@mixin border_help($color:#000000) {
  border-width: 1px;
  border-style: dashed;
  border-color: $color;
}

// Mapa de colores asociados a las clases
$border-colors: ("1": #000,
  "2": red,
  "3": deeppink,
  "4": lime);

// Generación automática de clases
@each $key,
$color in $border-colors {

  .border-#{$key},
  #border-#{$key} {
    @include border_help($color);
  }
}

/*============================================
=         Iconos SVG para Hamburguesa       =
============================================*/

$hamburger-icon-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$hamburger-icon-black: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(33, 37, 41, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");